body {
  background-color: #e5f4fb;
  color: #008b8b;
  font-family: 'Blinker', sans-serif;
  font-size: 23px;
  line-height: 50px;
}

h1 {
  color: #ff8c00;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 60px;
}

h3, h2 {
  color: #b5b69c;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  font-size: 24px;
  margin: 5px;
}

a {
  margin: 7px;
}

#git-button {
  background-color: #00bfff;
  color: #834e56;
  font-size: 25px;
  line-height: 40px;
  border-radius: 13px
}

#git-button:hover {
  background-color: #ff8c00;
}

#insta-button {
  background-color: #00bfff;
  color: #834e56;
  font-size: 25px;
  line-height: 40px;
  border-radius: 13px
}

#insta-button:hover {
  background-color: #ff8c00;
}

#face-button {
  background-color: #00bfff;
  color: #834e56;
  font-size: 25px;
  line-height: 40px;
  border-radius: 13px
}

#face-button:hover {
  background-color: #ff8c00;
}

#profile-img {
  border-radius: 50%;
}

#follow {
  margin-top: 10px;
}

.container {
  width: 720px;
  margin: 50px auto;
}

@media (max-width: 720px) {
  .container {
    width: 550px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 450px;
  }
}

@media (max-width: 200px) {
  .container {
    width: 180px;
  }
}

@media (max-width: 110px) {
  .container {
    width: 100px;
  }
}

.card1 {
  background-color: white;
  padding: 10px 30px 30px 30px;
  margin: 20px;
  border-radius: 7px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  text-align: center;
}

.card2 {
  background-color: white;
  padding: 5px 30px 30px 30px;
  margin: 20px;
  border-radius: 7px;
  box-shadow: 0px 20px 30px rgba(121,112,112,0.3);
  text-align: center;
}






